<div class="container p-5 my-5">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="text-primary">Lista de Departamentos</h1>
  </div>

  <div class="table-responsive">
    <table class="table table-hover table-striped table-bordered">
      <thead class="thead-dark">
        <tr class="text-center">
          <th scope="col">ID Departamento</th>
          <th scope="col">Nombre</th>
          <th scope="col">Localidad</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <!-- Utilizando tu sintaxis de bucle -->
        @for(departamento of departamentos; track departamento) {
          <tr class="text-center">
            <td scope="row">{{ departamento.idDepartamento }}</td>
            <td>{{ departamento.nombre }}</td>
            <td>{{ departamento.localidad }}</td>
            <td>
              <a class="btn btn-outline-primary btn-sm m-1" [routerLink]="['/edit', departamento.idDepartamento]">
                <i class="fas fa-edit"></i> Editar
              </a>
              <button class="btn btn-outline-danger btn-sm m-1" (click)="deleteDepartamento(departamento.idDepartamento)">
                <i class="fas fa-trash-alt"></i> Eliminar
              </button>
              <a class="btn btn-outline-secondary btn-sm m-1" [routerLink]="['/view', departamento.idDepartamento]">
                <i class="fas fa-info-circle"></i> Detalles
              </a>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
