<h1>Editar departamento</h1>

<form (ngSubmit)="putDepartamento()" #departamentoForm="ngForm">
  <div class="form-group">
    <label for="idDepartamento">ID Departamento</label>
    <input
      type="number"
      id="idDepartamento"
      class="form-control"
      [(ngModel)]="departamento.idDepartamento"
      name="idDepartamento"
      required
      disabled
    />
  </div>

  <div class="form-group">
    <label for="nombre">Nombre</label>
    <input
      type="text"
      id="nombre"
      class="form-control"
      [(ngModel)]="departamento.nombre"
      name="nombre"
      required
    />
  </div>

  <div class="form-group">
    <label for="localidad">Localidad</label>
    <input
      type="text"
      id="localidad"
      class="form-control"
      [(ngModel)]="departamento.localidad"
      name="localidad"
      required
    />
  </div>

  <button type="submit" class="btn btn-primary">Editar Departamento</button>
</form>
